
body, h1, figure, img {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f2c8c8;
  color: #919090;
}

header {
  color: #9d1616;
  text-align: center;
  padding: 20px 0;
}
main {
  text-align: center;
  padding: 20px;
  background-color: rgb(231, 218, 244);
  color: #333;
}


button#ShowResults {
  background-color: #036ad8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  display: none;
}

button#ShowResults:hover {
  background-color: #0056b3;
}


#Duck {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin: 20px auto;
  max-width: 800px;
}


#Duck img {
  width: 200px;
  border: 2px solid #111;
}


#Report {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 24px;
}

figure {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
  margin-top: 10px;
  font-size: 14px;
}

canvas#Chart {
  width: 50%;
  display: block;
  margin: 20px auto;
}

footer{
  background-color: #9d1616;
}
